*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center ;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.container{
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 2rem;
    min-height: 52vh;
    width: 53vh;
}
@property --angle{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false;
}
.container::after, .container::before{
    content: "";
    position: absolute;
    height: 54vh;
    width: 51vh;
    background-image: conic-gradient(from var(--angle),#ff4545,#00ff99,#006aff,#ff0095,#ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 1rem;
    border-radius: 2rem;
    z-index: -1;
    animation: 3s spin linear infinite;
}
@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
.container::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
p{
    color: white;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    outline:#ff0095;
    border-radius: 0.75rem;
    border:0.1vh solid white;
}

    

form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select-container img {
  max-width: 3rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}
i{
    margin:1rem 1rem 0 1rem;
    font-size: 2rem;
}
.select-container select {
  font-size: 1rem;
  width: auto;
  background: transparent;
  color:#7DC95E;
  border: none;
}
.msg {
  margin: 2rem 0 2rem 0;
  color: white;
}

form button {
  height: 3rem;
  background-color: #6A7FDB;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}