*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    border: 30px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.pics{
    height: 500px;
    width: 400px;
    border: 1px solid white;
    border-radius: 30px;
    position:absolute;
    top: 50%;
    left:50%;
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#pic1{
    transform: translate(-50%,-50%);
    z-index: 7;
}
#pic2{
    transform: translate(-50%,-50%) rotate(-5deg);
    z-index: 6;
}
#pic3{
    transform: translate(-50%,-50%) rotate(-10deg);
    z-index: 5;
}
#pic4{
    transform: translate(-50%,-50%) rotate(-15deg);
    z-index: 4;
}
#pic5{
    transform: translate(-50%,-50%) rotate(-20deg);
    z-index: 3;
}
#pic6{
    transform: translate(-50%,-50%) rotate(-25deg);
    z-index: 2;
}
#pic7{
    transform: translate(-50%,-50%) rotate(-30deg);
    z-index: 1;
}
#pic2:hover{
    z-index:20 ;
}
#pic3:hover{
    z-index:30 ;
}

#pic4:hover{
    z-index:40 ;
}

#pic5:hover{
    z-index:50 ;
}

#pic6:hover{
    z-index:60 ;
}

#pic7:hover{
    z-index:70 ;
}

