*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body{
    background: linear-gradient(135deg,rgb(143, 143, 247),rgb(174, 84, 174),rgb(228, 225, 225));
    color: #fff;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 12rem;
    padding-top: 5rem;
}
.container h1{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
}
.container h1 img{
    width: 3.75rem;
    margin-right: 0.6rem;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(144, 72, 226),rgb(179, 80, 195));
    color: #fff;
    font-size: 1rem;
    border: 0;
    outline: 0;
    border-radius: 5rem;
    padding:1rem 1.50rem 1rem 1.50rem;
    margin-top: 2rem;
    margin-left: 0.625rem;
    cursor: pointer;
}
.container button img{
    width: 1.25rem;
    margin-right: 0.625rem;
}
.input-box{
    position: relative;
    width: 100%;
    max-width:31.25rem;
    min-height: 9.37rem;
    background: #fff;
    color: #333;
    padding: 1.25rem;
    margin: 1.25rem 0;
    outline: none;
    border-radius: 0.3125rem;
    margin-left: 0.9rem;
}
.input-box img{
    position: absolute;
    width: 1.5rem;
    bottom: 0.8rem;
    right: 0.8rem;
    cursor: pointer;
}
