*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body{
height: 100%;
width: 100%;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 0.93vh;
}
.todo{
    width: 100%;
    max-width: 55vh;
    background: #fff;
    margin: 9.26vh auto 6.48vh;
    padding: 3.70vh 2.78vh 6.48vh;
    border-radius: 0.625rem;
}
.todo h2{
    display: flex;
    align-items: center;
    color: #002765;
    margin-bottom:1.86vh ;
}
.todo img{
    width: 2.79vh;
    margin-left: 0.625rem;
}
.row{
    display: flex;
    align-items: centre;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 2.5rem;
    padding-left: 1.25rem;
    margin-bottom: 1.5625rem;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 0.625rem;
    font-weight: 1.30vh;
}
button{
    border: none;
    outline: none;
    background: #ff5945;
    padding: 1rem 3.125rem;
    color: #fff;
    border-radius: 3.70vh;
    font-size:1rem;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size:1.0625rem ;
    padding: 0.75rem 0.5rem 0.75rem 3.125rem;
    user-select: none;
    cursor:pointer;
    position: relative;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
ul li::before{
    content: '';
    position: absolute;
    height:2.59vh;
    width: 2.59vh;
    border-radius: 50%;
    background-image: url(/HTML_CSS_JS/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top:0.75rem;
    left:0.5rem;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(/HTML_CSS_JS/images/checked.png);
}
ul li span{
    position: absolute;
    right:0;
    left:48.6vh;
    top:1vh;
    width: 3.70vh;
    height: 3.70vh;
    font-size: 2.04vh;
    color: #555;
    line-height: 3.70vh;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
