*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: #ebfffc;
}
.container{
    height: 72vh;
    width: 54vh;
    border-radius: 2rem;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:linear-gradient(105deg,rgb(30, 218, 196) 49%,rgb(86, 190, 231));
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 1rem;
    border-radius: 2rem;
    height: 2.5rem;
    flex:1;
    margin-left: 2.5rem;
}
.search button{
    border: 0;
    outline: 0;
    background:#ebfffc;
    color: #555;
    padding: 1rem;
    border-radius: 50%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    margin-left: 1rem;
}
.weather-icon{
    width: 15rem;
    margin-top: 1rem;
}
.temp{
    font-size: 7vh;
    font-weight: 3rem;
    margin-top: -0.9rem;
}
.city{
    font-size: 4vh;
    font-weight: 1rem;   
}
.icon{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    margin-top: 3rem;
    padding: 0 2rem;
}
.icon img{
    width: 7vh;
    margin-right: 1.4rem;
}
#humi{
    margin-right: 4.2rem;
    text-align: left;
}
#win{
    margin-right: 8rem;
    text-align: left;
}
.hum, .wind{
    font-size: 1.5rem;
    font-weight: 2rem;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 3rem;
    margin-top: 3rem;
    font-size: 3vh;
    color: red;
    display: none;
}

